body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

h2 {
  width: 100%;
}

h4 {
  color: white;
  font-family: "Shrikhand";
  font-size: 20px;
  margin-bottom: 20px;
}

.recherche-btn {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 40px 40px 40px 40px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 400ms;
}
.recherche-btn:hover {
  filter: brightness(1.07);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.header-accueil {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer {
  background-color: #353535;
}
footer div {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: auto;
  padding-bottom: 30px;
  padding-left: 20px;
}
footer a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
  width: 20%;
}
footer i {
  width: 15px;
  margin-right: 10px;
}

.conteneur {
  width: 100%;
  max-width: 1024px;
  padding-right: 10px;
  padding-left: 10px;
}

/*LOCALISATION ET RECHERCHE*/
.localisation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 100%;
  background-color: #e9e9e9;
  box-shadow: inset 0px 2px 3px #c7c7c7;
}
.localisation i {
  margin-right: 20px;
  color: #363636;
}
.localisation p {
  color: #363636;
  font-size: 17px;
}

.recherche {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f2f2f2;
  padding-bottom: 40px;
  text-align: center;
}
.recherche p {
  margin-top: 0;
  margin-bottom: 30px;
}

/*FONCTIONNEMENT*/
.explication {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.explication__liste {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  padding: 0;
  list-style: none;
  counter-reset: li;
}

.explication__liste__elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f2f2f2;
  padding: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  width: 25%;
  font-weight: bold;
  transition: all 400ms;
}
.explication__liste__elements::before {
  display: flex;
  content: counter(li);
  counter-increment: li;
  border: 4px solid transparent;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  width: 15px;
  height: 15px;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -11px;
}
.explication__liste__elements i {
  margin-right: 20px;
  margin-left: 20px;
}
.explication__liste__elements:hover {
  background-color: rgba(147, 86, 220, 0.1);
  color: #9356DC;
}
.explication__liste__elements span:not(:hover) {
  color: black;
}
.explication__liste__elements span:hover {
  color: black;
}

/*RESTAURANTS*/
.restaurants {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}
.restaurants__choix {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1024px;
  margin: auto;
}

.restaurants__choix__carte {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  width: 48%;
  height: 300px;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 50px;
  border-radius: 20px 20px 20px 20px;
  text-decoration: none;
}
.restaurants__choix__carte img {
  height: 70%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.restaurants__choix__carte .nouveau {
  border: 1px transparent;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #99E2D0;
  text-decoration: none;
  color: #2c9c81;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 10px;
}

.carte__contenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 20%;
  padding: 10px;
  color: black;
}
.carte__contenu p {
  line-height: 1.5;
}
.carte__contenu span {
  font-weight: bold;
  font-size: 20px;
}
.carte__contenu i {
  transition: all 1000ms;
}
.carte__contenu i:hover {
  color: #FF79DA;
  font-weight: bold;
}

/*****************
VERSION MOBILE
*****************/
@media only screen and (max-width: 768px) {
  /*FONCTIONNMENT MOBILE*/
  .explication__liste {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .explication__liste__elements {
    margin-bottom: 40px;
    width: 95%;
  }

  /*RESTAURANTS MOBILE*/
  .restaurants__choix {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .restaurants__choix__carte {
    width: 95%;
  }
}

/*# sourceMappingURL=styles.css.map */
