footer {
    background-color: #353535;
    div {
        display: flex;
        flex-direction: column;
        max-width: 1024px;
        margin: auto;
        padding-bottom: 30px;
        padding-left: 20px;
        }
        span {
            margin-bottom: 10px;
        }
        a {
            align-items: center;
            text-decoration: none;
            color: white;
        }
        a:hover {
            text-decoration: underline;
        }
            i {
                width: 15px;
                margin-right: 10px;
            }
}