body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-family: 'Shrikhand', sans-serif;
}

h2 {
    width: 100%;
}

.titre-restaurant h2 {
    font-family: 'Shrikhand', sans-serif;
    font-size: 30px;
}

h4 {
    color: white;
    font-family: 'Shrikhand';
    font-size: 20px;
    margin-bottom: 20px;
}